<!DOCTYPE html>
<html lang="en">

<!-- Replace with ejs -->
<%- include('layouts/header'); -%>

<body>
    <!-- Navigation-->
    
    <!-- Replace with ejs -->
    <%- include('layouts/nav'); -%>
    
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/dashboard-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Test Your Drive</h1>
                        <span class="subheading">Appointment Page!!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <hr/>
    <main>
        <h4 class="mb-5 text-center fs-2 text-black">Appointment Booking</h4>
                  <div>
                    <% if(appointment != null){%>
                    <form action="/createAppointments" method="POST">
                        <label for="date" class="form-label text-white">DATE</label>
                      <input readonly type="text" class="form-control"  id="date" name="date" value="<%= date %>"
                        min="<%=new Date().toISOString().split('T')[0]%>"
                      />
                    </div>
                      <%} else{%>
                        <form action="/getAppointmentAdmin" method="GET">
                    <div class="col-md-12 text-center mt-5">
                        <label for="date" class="form-label text-white">DATE</label>
                      <input type="date" class="form-label" id="date" name="date" required
                        min="<%=new Date().toISOString().split('T')[0]%>"
                      />
                    </div>
                    <% } %>
                      
                      <% if(appointment == null){ %>
                        <div class="f-submit">
                            <button class="submit" type="submit" style="margin-top:50px"></button>
                        </div>
                      </div>
                      <% } else {
                        var timeslots = ["8:00","8:30","9:00","9:30","10:00","10:30","11:00","11:30","12:00","12:30","1:00","1:30","2:00","2:30","3:00","3:30","4:00"]%>
                        <label for="time" class="form-label text-white">Time</label>
                          <select id="time" class="form-label text-white" name="time">
                            <% for(let i = 0;i<timeslots.length;i++){ 
                                if(appointment.includes(timeslots[i])){
                                  %>
                                  <option class="bg-secondary text-white" disabled><%=timeslots[i]%></option>
                                <%}else{%>
                                <option name="<%=timeslots[i]%>"><%=timeslots[i]%></option>
                            <% }} %> 
                          </select>
                        </div>
                      <div class="col-12 text-center mt-5">
                        <div class="f-submit">
                                    <button class="submit" type="submit" style="margin-top:50px"></button>
                        </div>
                      </div>
                        
                        <% }%>
                    </form>
      </main>
     <!-- Footer-->
     <%- include('layouts/footer'); -%>
     <!-- Replace with ejs -->

     <!-- Bootstrap core JS-->
     <%- include('layouts/scripts'); -%>
     <!-- Replace with ejs -->
</body>

</html>