<!DOCTYPE html>
<html lang="en">

<!-- Replace with ejs -->
<%- include('layouts/header'); -%>

<body>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  	
    <!-- Navigation-->
    
    <!-- Replace with ejs -->
    <%- include('layouts/nav'); -%>
    
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/dashboard-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Test Your Drive</h1>
                        <span class="subheading"> Examiner Tab </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <hr/>
    <main>
       
        <table class="styled-table">
            <thead>
              <tr>
                <th>Username</th>
                <th>Date</th>
                <th>Time</th>
                <th>Test Type</th>
                <th>Test Status</th>
              </tr>
            </thead>
            <tbody>
              <% if(data.length){ for(var i = 0; i< data.length; i++) {%>
              <tr>
                
                <td><%= data[i].username%></td>
                <td><%= data[i].date%></td>
                <td><%= data[i].time%></td>
                <td><%= data[i].testType%></td>
                <td><%= data[i].result%></td>
              </tr>
              <% } }else{ %>
              <tr>
                <td colspan="4">No result is available</td>
              </tr>
              <% } %>
            </tbody>
          </table>
    </main>
     <!-- Footer-->
     <%- include('layouts/footer'); -%>
     <!-- Replace with ejs -->

     <!-- Bootstrap core JS-->
     <%- include('layouts/scripts'); -%>
     <!-- Replace with ejs -->
</body>

</html>