<!DOCTYPE html>
<html lang="en">

<!-- Replace with ejs -->
<%- include('layouts/header'); -%>

<body>
    <!-- Navigation-->
    <!-- Replace with ejs -->
    <%- include('layouts/nav'); -%>
    <!-- Page Header-->
    
    <header class="masthead" style="background-image: url('assets/img/G-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>Examiner Result Update Page</h1>
                        <span class="subheading">This is Result update Page.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <hr/>
    <main>
        

      
               
        <form class="row g-3" action="/updateResult" method="POST">
                                <h4 class="mb-5 text-center fs-2 text-black">Personal Information</h4>
                                <div class="row g-3">
                                    <input id="id" name="id" type="hidden" value=<%= data._id %>>
                                    <div class="col-sm-6">
                                        <label for="username" class="form-label text-white">Username</label>
                                        <input type="text" class="form-control" id="username" name="username" disabled value=<%=data.username%>>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="firstName" class="form-label text-white">First name</label>
                                        <input type="text" class="form-control" id="fName" name="firstName" disabled value=<%=data.fName%>>
                                    </div>
                    
                                    <div class="col-sm-6">
                                        <label for="lastName" class="form-label text-white">Last name</label>
                                        <input type="text" class="form-control" id="lName" name="lastName" disabled value=<%=data.lName%>>
                                    </div>
                                </div>
                              
                                <br class="row g-3">
                                    <div class="col-sm-6">
                                        <label for="age" class="form-label text-white">Age</label>
                                        <input type="text" class="form-control" id="age" name="age" disabled value=<%=data.age%>>
                                </div>

                                <h4 class="mb-5 text-center fs-2 text-black">Car Information</h4>
                                <div class="row g-3">
                                    <div class="col-sm-4">
                                        <label for="make" class="form-label text-white">Make</label>
                                        <input type="text" class="form-control" id="make" name="make" disabled value=<%=data.carDetails.make%>>
                                        
                                    </div>
                    
                                    <div class="col-sm-4">
                                        <label for="model" class="form-label text-white">Model</label>
                                        <input type="text" class="form-control" id="model" name="model" disabled value=<%=data.carDetails.model%>>
                                        
                                    </div>
            
                                    <div class="col-sm-4">
                                        <label for="year" class="form-label text-white">Year</label>
                                        <input type="text" class="form-control" id="year" name="year" disabled value=<%=data.carDetails.year%>>
                                        
                                    </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col-sm-8">
                                        <label for="plateNo" class="form-label text-white">Plate number</label>
                                        <input type="text" class="form-control" id="plateNo" name="plateNo" disabled value=<%=data.carDetails.plateNo%>>
                                        
                                    </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col-sm-8">
                                        <label for="comment" class="form-label text-white">Comment</label>
                                        <textarea name="comment" class="form-control" id="comment"  rows="5" cols="50" placeholder="Enter your comment here...">
                                        </textarea>
                                    </div>
                                </div></br>
                                <div class="row g-3">
                                    <div class="col-sm-8">
                                        <label for="result" class="form-label text-white">Result</label><br/>
                                        <input type="radio" name="result" id="result" value="True"> <h5 style="color: black;">PASS</h5>
                                        <input type="radio" name="result" id="result" value="False"> <h5 style="color: black;" >FAIL</h5>
                                    </div>
                                </div>
                                
                                   
                                
              <div class="f-submit">
                <button type="submit" id="submit" class="submit"></button>
            </div>
            </form>
          </div>
        </div>

</main>
                        </div> 
                    
            </div>
    </main>

    
    <!-- Footer-->
    <%- include('layouts/footer'); -%>
    <!-- Replace with ejs -->

    <!-- Bootstrap core JS-->
    <%- include('layouts/scripts'); -%>
    <!-- Replace with ejs -->
</body>
</body>

</html>