<!DOCTYPE html>
<html lang="en">

<!-- Replace with ejs -->
<%- include('layouts/header'); -%>

<body>
    <!-- Navigation-->
    <!-- Replace with ejs -->
    <%- include('layouts/nav'); -%>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/g2-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>G2 License</h1>
                        <span class="subheading">This is G2 License Page.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <hr/>
    <main>
      
        
          
            
        <div>
          <h4 class="mb-5 text-center fs-2 text-black">Personal Information</h4>
          <div>
            <% if(appointment != null){%>
              <form action="/updateData" method="POST">
                <% } else{ %> 
                  <form class="row g-3" action="/getAppointmentDriver" method="GET">
                    <% } %> 
                    <div class="personal-info">
                      <div class="item-1">
                          <div class="input-group">
                              <input type="text" id="fName" name="fName"  class="input" required value=<%=data?.fName%>>
                              <label for="first-name" class="input-label">First Name</label>
                          </div>
                      </div>
                      <div class="item-1">
                          <div class="input-group">
                              <input type="text" id="lName" name="lName"  class="input" required value=<%=data?.lName%>>
                              <label for="last-name" class="input-label">Last Name</label>
                          </div>
                      </div>
                      <div class="item-1">
                          <div class="input-group">
                              <input type="number" id="sin" name="sin"  class="input" required value=<%=data?.sin%>>
                              <label for="sin" class="input-label">SIN</label>
                          </div>
                      </div>
                      <div class="item-1">
                          <div class="input-group">
                              <input type="text" id="lNumber" name="lNumber"  class="input" required value=<%=data?.lNumber%>>
                              <label for="License-number" class="input-label">License-Number</label>
                          </div>
                      </div>
                      <div class="item-1">
                          <div class="input-group">
                              <input type="number" id="age" name="age"  class="input" required value=<%=data?.age%>>
                              <label for="age" class="input-label" min="18" max="99">Age</label>
                          </div>
                      </div>
                      <!-- <div class="item-1">
                          <div class="input-group">
                              <input type="text" id="dob" name="dob" required class="input">
                              <label for="dob" class="input-label">Date Of Birth</label>
                          </div>
                      </div> -->
                      
                  </div>
          </div>
        </div>


        <div>
          <h4 class="mb-5 text-center fs-2 text-black">Car Information</h4>
          <div>
            <div class="car-info">
              <div class="item-2">
                  <div class="input-group">
                      <input type="text" id="make" name="make"  class="input" required value=<%=data?.make%>>
                      <label for="make" class="input-label">Make</label>
                  </div>
              </div>
              <div class="item-2">
                  <div class="input-group">
                      <input type="text" id="model" name="model"  class="input" required value=<%=data?.model%>>
                      <label for="model" class="input-label">Model</label>
                  </div>
              </div>
              <div class="item-2">
                  <div class="input-group">
                      <input type="number" id="year" name="year"  class="input" required value=<%=data?.year%>>
                      <label for="year" class="input-label">Year</label>
                  </div>
              </div>
              <div class="item-2">
                  <div class="input-group">
                      <input type="text" id="plateNo" name="plateNo"  class="input" required value=<%=data?.plateNo%>>
                      <label for="plateNo" class="input-label">Plate-Number</label>
                  </div>          
              </div>
          </div>
      </div>
            <h3 class="mb-5 text-center fs-2 text-black">Appointment Booking</h3>
            <div>
              <%if(appointment != null){%>
              <div class="col-sm-6">
                <label for="date" class="form-label text-white">Date</label>
                <input readonly type="text" id="date" name="date" value="<%= date %>"
                  min="<%=new Date().toISOString().split('T')[0]%>"
                />
              </div>
              <div>
                <div class="col-sm-6">
                  <label for="testType" class="form-label text-white">Test Type</label>
                  <input type="text" class="form-control" id="testType" name="testType" readonly value="G2 TEST">
              </div>
              <div class="col-sm-6">
                  <label for="time" class="form-label text-white">Time</label>
                </div>
                  <%if(appointment != ""){%>
                  <select id="time" class="form-control mt-2" name="time">
                    <% for(let i = 0;i<appointment.length;i++){%>
                      <option ><%=appointment[i]%></option>
                    <% }%></select><%}else{ %> 
                      <h2  class="mb-5 text-center fs-2 text-black">No slots are available on this day!! You can Try on another day.</h2>
                        <a href="/g2"  class="mb-5 text-center fs-2 text-black">Click Here to select another date.</a>
                      <%}%>
                  
                </div>
                <div class="f-submit">
                  <button type="submit" id="submit" class="submit"></button>
              </div>
                <%} else{%>
              <div>
                <label for="date"  class="form-label text-white">Date</label>
                <input type="date"  id="date" name="date"
                  min="<%=new Date().toISOString().split('T')[0]%>"
                />
              </div>
              <div class="f-submit">
                <button type="submit" id="submit" class="submit"></button>
            </div>
              <% } %>
              </div>
            </form>
          </div>
        </div>

</main>
    <!-- Footer-->
    <%- include('layouts/footer'); -%>
    <!-- Replace with ejs -->

    <!-- Bootstrap core JS-->
    <%- include('layouts/scripts'); -%>
    <!-- Replace with ejs -->
</body>
</body>

</html>